.card-propriete-article{
    a:hover {
        color: #535353;
        text-decoration: none;
    }
    margin-bottom: 5%;
}

.card-propriete_btn{
    color: rgb(219, 131, 30);
    border-color: rgb(219, 131, 30);
}